*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Open Sans", sans-serif;
}
/* LOGO */
.logo1{
    position: relative;
    right:66.7px;
}
.logoback{
    position: relative;
}
/* Kategoriler */
.catalog{
    
    background-color: rgb(0, 140, 255);
    color: white;
    text-align: center;
    align-items: center;
    height: 3rem;
}
/* NAVBAR */
.nav-hd{
    transition: top 0.3s;
}

.footer{
    font-size: .7rem;
    background-color: rgb(0, 140, 255);;
    color: white;
    text-align: center;
    align-items: center;
    height: 3.5rem;
}

.back-to-top{
    right: 2rem;
    bottom: 1rem;
    color: black;
    position: relative;
    border: 1px black solid;
    border-radius: 13px;
    font-size: 1.7rem;
}

.carousel-item img{
    height: 15rem;
    width: 10rem;

}

.carousel-ex img{
    height: 15rem;
    width: 10rem;

}

.title2{
    height: 76px;
}

.deniz{
    height: 40px;
    width: 120px;
    background:white;
    border: 2px solid rgb(0, 140, 255);;
    border-radius:6px;
    text-align: center;
    align-items: center;
    font-size: .9rem;

}

.deniz:hover{
    background:rgb(0, 140, 255);;
    color: white;
}

